/*app styles*/

/* The Header */
html {
  width: 100%;
}

body {
  width: 100%;
  margin: 30px auto;
}

/* The Header */
header {
  display: block;
  width: 960px;
  margin: 30px auto;
  margin-top: 40px;
}

/* Lefthand Logo */
#logo {
position:absolute;
  width:50px;
  float:left;
}

h1 {
  position:absoulte;
  margin-left: 50px;
  font-family: Yellowtail;
  font-size: 45px;
}

h2 {
  position:absolute;
  margin-left: 56px;
  font-family:arial;
  font-size:10px;
}

/* Social Navigation and Contact */
nav {
  margin-bottom: 75px;
  margin-top:-35px;
}

nav ul li {
  display:inline-block;
}

.social_icons {
  float:right;
}

.contact_icons {
  float:right;
  margin-left:10px;
}

.bar {
  width: 960px;
  display:block;
  margin: auto;
}

/* End of Header */

body {
  width: 960px;
  margin: 0 auto;
}

.intro div {
width: 900px;
clear: both;
}

h3 {
  font-family: 'arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4{
  font-family: helvetica;
  font-size: 10px;
  text-transform: uppercase;
  color: #a2a0a0;
  margin-bottom: 0px;
}

.intro div{
  margin-top: -10px;
  width: 960px;
}

.intro img{
  float:right;
  margin-bottom: 10px;
}

.intro p{
  display:inline-block;
  float:right;
  font-family: helvetica;
  font-size: 10px;
  color: #a2a0a0;
}


.hero div{
  clear: both;
}

.hero img{
  width: 960px;
  margin: auto;
}

.text p {
  font-family: times;
  font-size: 21px;
  color: gray;
  text-indent: 32px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 30px;
}

section {
  margin-top: 30px;
  background-image: url("img/list-bg.png");
}

section ul {
  position: relative;
  top: 20px;
  left: 50px;
  height: 300px;
  column-count: 2;
  line-height: 35px;
}

section li {
  font-family: "Patrick Hand";
  font-size: 20px;
  color: grey;
  width: 300px;
}

.strike {
  text-decoration: line-through;
}

/* End of Header */
/* End of Header */




/* Start of Footer */
footer {
  display: block;
  width: 960px;
  margin-top: 40px;
  margin: 30px auto;

}

.vanessa {
  float:left;
  margin-right:20px;
  width:100px;
}

h5 {
  font-size:30px;
  font-weight:bold;
  margin-top:5px;
  margin-bottom: 15px;
}

.footer {
  float:left;
  font-size:20px;
  width: 590px;
  margin-bottom:100px;
}

#btn {
  margin-top:-40px;
  float:right;
  padding:20px;
  background: #b35900;
  color: #FFF;
  border: none;
  font-family: arial;
  font-size: 20px;
}

.the_foot {
  clear:both
}

.footer_image {
  display:block;
  margin: auto;
}

.bottom_text {
  margin-top:40px;
  color: #444;
  text-align:center;
}

.bottom_bottom_text {
  text-align:center;
  color: #444;
}

.bottom {
  margin-bottom:100px;
}
/* End of Footer */
/* End of Footer */
/* End of Footer */
